.main-text {
    color: #fff;
    font-family: 'Fira Code', arial, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    padding-left: 50px;
    padding-right: 50px;
}