.main-section {
    background-color: #FF5C00;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #FFF;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-project {
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
    border-color: #FF5C00;
}

.main-section.-sobre {
    background-color: #00B3B2;
    border-color: #000;
}