.project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #FFFFFF;
    margin-right: 100px;
}

.project-card.-card1 {
    background-color: #00B3B2;
}
.project-card.-card2 {
    background-color: #4C5B84;
}
.project-card.-card3 {
    background-color: #FF5C00;
}