.section {
    background-color: #FF5C00;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #FFF;
}

.section .main-title {
    margin-bottom: 60px;
}

.section-project {
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #FF5C00;
}