:root {
    --color-first: #FF5C00;
    --color-second: black;
    --color-third: #FFFFFF;
    --color-black-first: #000000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;
    
}